@tailwind base;
@tailwind components;
@tailwind utilities;

// no-scrollbar(class)
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  @font-face {
    font-family: "Comfortaa";
    font-style: light;
    font-weight: 100; /* Thin */
    font-display: swap;
    src: url("/fonts/Comfortaa/Comfortaa-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Comfortaa";
    font-style: bold;
    font-weight: 700; /* Regular */
    font-display: swap;
    src: url("/fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
  }
}

[type="checkbox"]:checked,
[type="radio"] {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.light {
  @import (less) "github-markdown-css/github-markdown-light.css";
}

.dark {
  @import (less) "github-markdown-css/github-markdown-dark.css";
}

.dark,
.light {
  .markdown-body {
    background-color: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;

    h1 {
      font-size: 150%;
    }

    h2 {
      font-size: 130%;
    }

    h4 {
      font-size: 120%;
    }

    h4 {
      font-size: 110%;
    }

    h5 {
      font-size: 105%;
    }

    h6 {
      font-size: 100%;
    }
  }
}

@import (less) "css-ripple-effect/dist/ripple.css";

.suggestion {
  color: grey !important;
}

@import (less) "colors.less";

/**
  * Highlight.js themes
  * 
  * https://highlightjs.readthedocs.io/en/latest/css-classes-reference.html
  */
@import (less) "hljs-light.less";
.dark {
  @import (less) "hljs-dark.less";
}

.table-view {
  @import (less) "table-view.less";
}

@import (less) "timeline.less";
