@tailwind base;
@tailwind components;
@tailwind utilities;

// no-scrollbar(class)
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

.light {
  @import (less) "github-markdown-css/github-markdown-light.css";
}

.dark {
  @import (less) "github-markdown-css/github-markdown-dark.css";
}

.dark,
.light {
  .markdown-body {
    background-color: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;

    h1 {
      font-size: 150%;
    }

    h2 {
      font-size: 130%;
    }

    h4 {
      font-size: 120%;
    }

    h4 {
      font-size: 110%;
    }

    h5 {
      font-size: 105%;
    }

    h6 {
      font-size: 100%;
    }
  }
}
